In [1]:
import pandas as pd
#import io

In [20]:
# Importa o CSV para um DataFrame
arquivo_csv = 'C:\\Users\\charlessodre\\Documents\\Anaconda\\SMAL11 - Dados Históricos.csv'
df = pd.read_csv(open(arquivo_csv, 'r', encoding='utf-8'), sep=',')

#df.head()

In [21]:
# ALtera o nome das colunas
df.columns = ['Mês/Ano','Último','Abertura','Máxima','Mínima','Vol(K)', 'Var%']
#df.head()

In [22]:
#Retira a Primeira Linha do Data Frame
df = df[1:]
#df.head()

In [5]:
codigo ='SMAL11'
df['Código'] = codigo

#df.head()

In [6]:
#Verifica as colunas do DataFrame
#df.columns

In [7]:
#Altera a ordem das colunas do DataFrame
df = df[['Código','Mês/Ano','Último','Abertura','Máxima','Mínima','Vol(K)', 'Var%']]
#df.head()

In [8]:
df.dtypes

Código      object
Mês/Ano     object
Último      object
Abertura    object
Máxima      object
Mínima      object
Vol(K)      object
Var%        object
dtype: object

In [9]:
#Trata o ponto e virgula do Numero na
def trataSeparadorING(string):
    string = str(string).replace(',','v')
    string = string.replace('.',',')
    string = string.replace('v','.')
    
    return string

#Converte um objeto para para Numeric do Pandas
def objToNumeric(obj):
   
    return pd.to_numeric(trataSeparadorING(obj))


#Trata o Volume
def trataVolume(vol):


    vol = str(vol).upper()
    k = vol.find('K')
    m = vol.find('M')

    valor=0

    if ( k > 0 ):
        valor = objToNumeric(vol[0:k])
        #valor = valor*1000
     
    elif ( m > 0 ):
        valor = objToNumeric(vol[0:m])
        valor = valor*1000
          
    return valor


#Trata o Variacao
def trataVariacao(var):
    
    var = str(var)
    k = var.find('%')
    
    valor=0

    if ( k > 0 ):
        valor = objToNumeric(var[0:k])
        
    return valor

In [10]:
#Tratar Valores das colunas

# Converte Coluna "Último" para Float
df['Último'] = df['Último'].apply(objToNumeric)

# Converte Coluna "Abertura" para Float
df['Abertura'] = df['Abertura'].apply(objToNumeric)

# Converte Coluna "Máxima" para Float
df['Máxima'] = df['Máxima'].apply(objToNumeric)

# Converte Coluna "Mínima" para Float
df['Mínima'] = df['Mínima'].apply(objToNumeric)

# Converte Coluna "Vol(K)" para Float
df['Vol(K)'] = df['Vol(K)'].apply(trataVolume)

# Converte Coluna "Var%" para Float
df['Var%'] = df['Var%'].apply(trataVariacao)

In [11]:
df.head()

   Código Mês/Ano  Último  Abertura  Máxima  Mínima   Vol(K)   Var%
1  SMAL11  Out 18    81.5     71.84   84.50   70.60  2300.00  12.41
2  SMAL11  Set 18    72.5     73.51   75.50   69.31   476.19  -1.76
3  SMAL11  Ago 18    73.8     77.20   79.64   73.05   351.01  -4.16
4  SMAL11  Jul 18    77.0     72.79   79.29   72.50   240.56   5.19
5  SMAL11  Jun 18    73.2     79.51   79.51   68.93   456.81  -3.68

In [12]:
df.dtypes

Código       object
Mês/Ano      object
Último      float64
Abertura    float64
Máxima      float64
Mínima      float64
Vol(K)      float64
Var%        float64
dtype: object

In [13]:
df.describe()

           Último    Abertura      Máxima      Mínima       Vol(K)        Var%
count  118.000000  118.000000  118.000000  118.000000   118.000000  118.000000
mean    60.304237   59.991610   62.673644   57.298305   278.780085    1.226695
std     12.975453   13.191206   13.317790   12.689955   333.065987    6.549981
min     23.490000   23.490000   24.080000   22.340000     0.300000  -15.230000
25%     54.127500   52.802500   55.087500   49.935000    54.670000   -2.030000
50%     61.740000   61.905000   64.320000   59.435000   173.840000    0.120000
75%     69.700000   70.000000   71.425000   66.750000   379.787500    5.362500
max     85.570000   84.750000   86.430000   81.900000  2300.000000   34.420000

In [14]:
arquivo = 'C:\\Users\\charlessodre\\Documents\\Anaconda\\SMAL11 - Tratado.csv'
df.to_csv(arquivo,sep=';', encoding='latin-1', decimal=',')
#df.to_csv(arquivo,sep=';', encoding='latin-1', decimal=',',float_format='%.3f')

In [15]:
#arquivo_csv = "C:\\Users\\charlessodre\\Documents\\Anaconda\\SMAL11 - Dados Históricos.csv"

#arq = open(arquivo_csv,'r')

#data = arq.read()

#rows = data.split('\n')

In [16]:
#full = []

#for row in rows:
#    split_row = row.split(',')
#    full.append(split_row)

In [17]:
#print(full)