In [1]:
# Importação das bibliotecas
import requests 
from bs4 import BeautifulSoup 
import pandas as pd 
import re

In [2]:
# url dos histórico dos papeis
url_fonte = 'https://br.investing.com/equities/usiminas-pna-historical-data'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36'}

In [3]:
# Conectando da página
con = requests.get(url_fonte, headers=headers)

In [4]:
# Status da Conexão. Status 200 conexão Ok.
#https://www.w3.org/Protocols/HTTP/1.1/draft-ietf-http-v11-spec-01#Status-Codes
con.status_code

200

In [5]:
# Cria objeto BeautifulSoup com o conteúdo html da página
soup = BeautifulSoup(con.content, "html.parser")
#print(soup.prettify())

In [6]:
#Extraindo a tabela com o histórico do Papel
#tabela_historico = soup.findAll('table', id = 'curr_table')

In [7]:
#Extraindo a tabela com o histórico do Papel
tabela_historico = soup.find('table', {'id':'curr_table'})
#tabela
type(tabela_historico)

bs4.element.Tag

In [8]:
# Extrai somente o cabeçalho da tabela.
head_tabela = tabela_historico.find('thead')
head_tabela
#type(head_tabela)

<thead>
<tr>
<th class="first left noWrap" data-col-name="date">Data<span class="headerSortDefault" sort_default=""></span></th>
<th class="noWrap" data-col-name="price">Último<span class="headerSortDefault" sort_default=""></span></th>
<th class="noWrap" data-col-name="open">Abertura<span class="headerSortDefault" sort_default=""></span></th>
<th class="noWrap" data-col-name="high">Máxima<span class="headerSortDefault" sort_default=""></span></th>
<th class="noWrap" data-col-name="low">Mínima<span class="headerSortDefault" sort_default=""></span></th>
<th class="noWrap" data-col-name="vol">Vol.<span class="headerSortDefault" sort_default=""></span></th> <th class="noWrap" data-col-name="change">Var%<span class="headerSortDefault" sort_default=""></span></th>
</tr>
</thead>

In [9]:
# Extrai as linhas do cabeçalho da tabela.
linhas_cabecalho_tabela = head_tabela.find_all('tr')
cabecalho_tabela_tratada = []

for linha in linhas_cabecalho_tabela:
    culunas=linha.find_all('th')
    colunas=[x.text.strip() for x in culunas]
    cabecalho_tabela_tratada.append(colunas)


cabecalho_tabela_tratada

[['Data', 'Último', 'Abertura', 'Máxima', 'Mínima', 'Vol.', 'Var%']]

In [10]:
head_tabela.find_all('tr')

[<tr>
 <th class="first left noWrap" data-col-name="date">Data<span class="headerSortDefault" sort_default=""></span></th>
 <th class="noWrap" data-col-name="price">Último<span class="headerSortDefault" sort_default=""></span></th>
 <th class="noWrap" data-col-name="open">Abertura<span class="headerSortDefault" sort_default=""></span></th>
 <th class="noWrap" data-col-name="high">Máxima<span class="headerSortDefault" sort_default=""></span></th>
 <th class="noWrap" data-col-name="low">Mínima<span class="headerSortDefault" sort_default=""></span></th>
 <th class="noWrap" data-col-name="vol">Vol.<span class="headerSortDefault" sort_default=""></span></th> <th class="noWrap" data-col-name="change">Var%<span class="headerSortDefault" sort_default=""></span></th>
 </tr>]

In [11]:
# Extrai somente o corpo da tabela.
corpo_tabela = tabela_historico.find('tbody')
#corpo_tabela
type(corpo_tabela)

bs4.element.Tag

In [12]:
# Extrai as linhas do corpo da tabela.
linhas_tabela = corpo_tabela.find_all('tr')
linhas_tabela_tratada = []

for linha in linhas_tabela:
    culunas=linha.find_all('td')
    colunas=[x.text.strip() for x in culunas]
    linhas_tabela_tratada.append(colunas)

linhas_tabela_tratada

[['11.01.2019', '10,18', '10,30', '10,36', '10,10', '17,53M', '-1,45%'],
 ['10.01.2019', '10,33', '10,16', '10,38', '9,95', '14,50M', '2,38%'],
 ['09.01.2019', '10,09', '9,90', '10,17', '9,84', '13,95M', '3,28%'],
 ['08.01.2019', '9,77', '10,20', '10,23', '9,72', '18,26M', '-2,79%'],
 ['07.01.2019', '10,05', '10,08', '10,28', '9,94', '15,09M', '0,20%'],
 ['04.01.2019', '10,03', '9,62', '10,14', '9,57', '29,30M', '5,80%'],
 ['03.01.2019', '9,48', '9,28', '9,88', '9,26', '18,66M', '-2,07%'],
 ['02.01.2019', '9,68', '9,14', '9,82', '9,05', '21,59M', '5,79%'],
 ['28.12.2018', '9,15', '9,10', '9,23', '9,02', '14,57M', '1,67%'],
 ['27.12.2018', '9,00', '9,17', '9,19', '8,92', '11,58M', '-1,64%'],
 ['26.12.2018', '9,15', '9,08', '9,16', '8,85', '12,33M', '-0,65%'],
 ['21.12.2018', '9,21', '9,26', '9,37', '9,18', '15,10M', '-0,43%'],
 ['20.12.2018', '9,25', '9,81', '9,88', '9,15', '26,46M', '-4,64%'],
 ['19.12.2018', '9,70', '9,80', '9,99', '9,70', '16,13M', '1,04%'],
 ['18.12.2018', '9,60', '9,84', '9,97', '9,55', '17,31M', '-1,94%'],
 ['17.12.2018', '9,79', '9,48', '9,92', '9,47', '23,17M', '4,37%'],
 ['14.12.2018', '9,38', '9,47', '9,63', '9,36', '12,52M', '-2,80%'],
 ['13.12.2018', '9,65', '9,42', '9,65', '9,36', '20,76M', '3,10%']]

In [13]:
#Cria um dataframe com as linhas do corpo da tabela.
df_historico = pd.DataFrame(linhas_tabela_tratada)

In [14]:
#Adiciona o cabeçalho da tabela no dataframe criado.
df_historico.columns = cabecalho_tabela_tratada[0]

In [15]:
#Exibe as primeiras linha do dataframe
df_historico.head()

         Data Último Abertura Máxima Mínima    Vol.    Var%
0  11.01.2019  10,18    10,30  10,36  10,10  17,53M  -1,45%
1  10.01.2019  10,33    10,16  10,38   9,95  14,50M   2,38%
2  09.01.2019  10,09     9,90  10,17   9,84  13,95M   3,28%
3  08.01.2019   9,77    10,20  10,23   9,72  18,26M  -2,79%
4  07.01.2019  10,05    10,08  10,28   9,94  15,09M   0,20%

In [16]:
#Trata o seprador decimal.
def trataSeparadorDecimal(string):
    string = str(string).replace(',','v')
    string = string.replace('.',',')
    string = string.replace('v','.')
    
    return string

#Converte um objeto para para Numeric do Pandas
def objToNumeric(obj):
   
    return pd.to_numeric(trataSeparadorDecimal(obj))


#Trata o Volume
def trataVolume(vol):


    vol = str(vol).upper()
    k = vol.find('K')
    m = vol.find('M')

    valor=0

    if ( k > 0 ):
        valor = objToNumeric(vol[0:k])
        valor = valor*1000
     
    elif ( m > 0 ):
        valor = objToNumeric(vol[0:m])
        valor = valor*1000000
          
    return valor


#Trata o Variacao
def trataVariacao(var):
    
    var = str(var)
    k = var.find('%')
    
    valor=0

    if ( k > 0 ):
        valor = objToNumeric(var[0:k])
        
    return valor

In [17]:
# Trata os tipos de dados das colunas

#Converta a data
df_historico['Data'] = pd.to_datetime(df_historico['Data'])

# Converte Coluna "Último" para Float
df_historico['Último'] = df_historico['Último'].apply(objToNumeric)

# Converte Coluna "Abertura" para Float
df_historico['Abertura'] = df_historico['Abertura'].apply(objToNumeric)

# Converte Coluna "Máxima" para Float
df_historico['Máxima'] = df_historico['Máxima'].apply(objToNumeric)

# Converte Coluna "Mínima" para Float
df_historico['Mínima'] = df_historico['Mínima'].apply(objToNumeric)

# Converte Coluna "Vol." para Float
df_historico['Vol.'] = df_historico['Vol.'].apply(trataVolume)

# Converte Coluna "Var%" para Float
df_historico['Var%'] = df_historico['Var%'].apply(trataVariacao)

In [19]:
df_historico.dtypes

Data        datetime64[ns]
Último             float64
Abertura           float64
Máxima             float64
Mínima             float64
Vol.               float64
Var%               float64
dtype: object

In [23]:
# Visualizando o dataframe após as conversões.
df_historico.head()

        Data  Último  Abertura  Máxima  Mínima        Vol.  Var%
0 2019-11-01   10.18     10.30   10.36   10.10  17530000.0 -1.45
1 2019-10-01   10.33     10.16   10.38    9.95  14500000.0  2.38
2 2019-09-01   10.09      9.90   10.17    9.84  13950000.0  3.28
3 2019-08-01    9.77     10.20   10.23    9.72  18260000.0 -2.79
4 2019-07-01   10.05     10.08   10.28    9.94  15090000.0  0.20

In [24]:
# Define a data como indice do dataframe.
df_historico.set_index('Data')

            Último  Abertura  Máxima  Mínima        Vol.  Var%
Data
2019-11-01   10.18     10.30   10.36   10.10  17530000.0 -1.45
2019-10-01   10.33     10.16   10.38    9.95  14500000.0  2.38
2019-09-01   10.09      9.90   10.17    9.84  13950000.0  3.28
2019-08-01    9.77     10.20   10.23    9.72  18260000.0 -2.79
2019-07-01   10.05     10.08   10.28    9.94  15090000.0  0.20
2019-04-01   10.03      9.62   10.14    9.57  29300000.0  5.80
2019-03-01    9.48      9.28    9.88    9.26  18660000.0 -2.07
2019-02-01    9.68      9.14    9.82    9.05  21590000.0  5.79
2018-12-28    9.15      9.10    9.23    9.02  14570000.0  1.67
2018-12-27    9.00      9.17    9.19    8.92  11580000.0 -1.64
2018-12-26    9.15      9.08    9.16    8.85  12330000.0 -0.65
2018-12-21    9.21      9.26    9.37    9.18  15100000.0 -0.43
2018-12-20    9.25      9.81    9.88    9.15  26460000.0 -4.64
2018-12-19    9.70      9.80    9.99    9.70  16130000.0  1.04
2018-12-18    9.60      9.84    9.97    9.55  17310000.0 -1.94
2018-12-17    9.79      9.48    9.92    9.47  23170000.0  4.37
2018-12-14    9.38      9.47    9.63    9.36  12520000.0 -2.80
2018-12-13    9.65      9.42    9.65    9.36  20760000.0  3.10